.footer_icon{
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 10%;
}

.f_icon{
    font-family: 'HakgyoansimChilpanjiugaeTTF-B';
    font-size: 20px;
    text-decoration-line: none;
}
.f_img_icon{
    width: 70px;
    height: 70px;
}