.main_theme{
    width: 100%;
    background-image: url("main_photo.jpg");opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main_logo{
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 10%;
    padding-left: 10%;
}

@media screen and (max-width: 768px) {
    .main_logo{
        flex-direction: column;
        align-items: center;
    }
}
.logo_name{
    font-family: 'HakgyoansimChilpanjiugaeTTF-B';
    font-size: 70px;
}
.img_sg{
    width: 200px;
    height: 200px;
    background-image: url("space.png");
    background-position: center;
}
.img_name{
    font-family: 'HakgyoansimChilpanjiugaeTTF-B';
    padding-top: 200px;
}