.box{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    
    display: flex;
    flex-direction: row;

}
.one{
    background-color: green;
}
.two{
    background-color: yellow;
}
.three{
    background-color: red;
}